:root {
    /* primary */
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    /* secondary */
    --red: hsl(0, 87%, 67%);
    /* neutral */
    --gray: hsl(0, 0%, 75%);
    --grayish-iolet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
    /* font size */
    --font-size: 1.3rem;
    /* font family */
    --font-family: "poppins", sans-serif;
    --opacity: .5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--font-family);
    margin: 0;
    background-color: hsl(0, 2%, 91%);
}
input {
    font-family: var(--font-family);
    outline: none;
}
ul {
    list-style: none;
    padding-left: 0;
}
li {
    color: white;
    
}
a {
    text-decoration: none;
    color: white;}
img {
    max-width: 100%;
    height: auto;
}
.fa {
    color: white;
}
.header {
    position: relative;
    padding: 1.4em;
   
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: white;
 
  padding: 1em 5em;
}
.logo {
    font-size: 1.7rem;
    font-weight: 700;
    color: black;
}
.hamburger {
    width: 70%;
    position: relative;
    opacity: .6;
}
.hamburger,
.hamburger:before,
.hamburger:after {
    display: block;
    margin: 0 auto;
    height: 4px;
    background: black;
    border-radius: 10px;
}
.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}
.hamburger::before {
    transform: translateY(-10px)
}
.hamburger::after {
    transform: translateY(6px)
}
.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    transition: opacity 250ms ease;
    position: absolute;
    right: 20px;
    background-color: transparent;
}
.nav {
    visibility: hidden;
    height: 0;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}


.dropdown {
    background-color: var(--dark-violet);
    margin-top: 2em;
    border-radius: 16px;
    height: 380px;
} 
.nav__item, .nav__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.nav__list, .nav__btn {
    font-size: 1.1rem;
    font-weight: 600;
}
.nav__list {
   padding-top: 2em;
}
.nav__link {
    opacity: var(--opacity);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 600ms;
}
.nav__link:hover {
    color: var(--cyan)
}
.nav__btn {
    opacity: var(--opacity);
}
.active {
    color: var(--cyan);
    font-weight: 600;
}
.border-bottom {
    padding-bottom: 1em;
    border-bottom: 1px solid white ;
    width: 80%;
    opacity: .2;
}
.nav__btn,
.intro__btn {
    border: none;
    outline: none;
    margin-bottom: 1.4em;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    display: inline-block;
    padding: 11px 100px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}
.intro__btn {
    margin-top: 2em;
}
.cyan-fill {
    background-color: var(--cyan);
}
.nav__right {
    margin: 2em 0;
}
/* intro */
.intro {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}
.intro__title {
    color: var(--very-dark-violet);
    font-size: 4.2rem;
    line-height: 1.1;
    animation: bounce 2s ease;
    animation-delay: 0;
}
@keyframes bounce {
    0%,20%, 50%, 80%, 100% {
        transform: translateY(0)
    }
    40% {transform: translateY(-30px)}
    60% {transform: translateY(-15px)}
}
.intro__para {
    color:var(--very-dark-violet);
    opacity: 0;
    animation: reveal 2s ease forwards ;
    animation-delay: 1.25s;
}
@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(-90%);
    }
    100% {
        opacity: .5;
        transform: translateY(0%);
    }
}
.intro__btn {
    padding: 15px 50px;
    border-radius: 140px;
    animation: reveal-1 3s ease forwards;
    animation-delay: 2s;
    opacity: 0;
}
@keyframes reveal-1 {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.center {
    text-align: center;
}
.work-img {
    transform: translateX(50px);
    animation: bounce-right 2s ease ;
}
@keyframes bounce-right {
    0% {
        opacity: 0;
        transform: translateX(2000px);
      }
      60% {
        opacity: 1;
        transform: translateX(-60px);
      }
      80% { transform: translateX(10px); }
      100% { transform: translateX(50px); }
    
}
/* short-url-form */
.short-url-form {
    padding: 0 2em;
}
.form {
    background-color: var(--dark-violet);
    background-image: url(images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: -14px;
    background-position-x: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    border-radius: 8px;
    padding: 0 1em
}
.field {
   width: 100%;
   display: flex;
   flex-direction: column;
}
.short-url__input,
.input-submit {
   
    height: 45px;
    border-radius: 5px;
    border: none;
}
.short-url__input {
    padding-left: 1em;
    width: 100%;
}
.input-submit {
    border: none;
    outline: none;
    margin-top: 1em;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    display: inline-block;
    cursor: pointer;
}
.empty {
    border: 2px solid hsl(0, 87%, 67%);
}
.error {
    margin-top: 0;
    margin-bottom: -25px;
    color:  hsl(0, 87%, 67%);
    padding-top: 0.5em;
    padding-left: 10px;
    font-size: 0.75rem;

}
.empty::placeholder {
    color:hsl(0, 87%, 67%);
}
/* short-url-container */
.short-url-container {
    margin: 0 2.5em;
    margin-top: 1em;
    width: 84%;
}
.short-url-result {
    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    animation: reveal 2s ease forwards ;
    animation-delay: 1.25s;
    opacity: 0;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
.short-url-line {
    border: 1px solid gray;
    opacity: .2;
}
.card__link {
    color: var(--cyan)
}
.main-url{
    font-weight: 500;
}
.short-url {
    color: var(--cyan);
    font-weight: 500;
   
}
.copy-btn, .copied {
    padding: 0 4em;
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    text-transform: lowercase;
    cursor: pointer;
    
}
.copied {
    background-color: var(--dark-violet);
}
.hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
/* statistics */
.statistics {
    margin-top: 4em;
    padding: 0 2em;
    color: var(--very-dark-blue);
}
.bold {
    font-weight: 500;
}
.statistics__para {
    opacity: .5;
}
.card {
    background-color: white;
    margin-top: 7em;
    padding: 1.3em;
}
.circle {
   position: relative;
   top: -60px;
   bottom: 0;
    border-radius: 50%;
    padding: 20px;
    background-color: var(--very-dark-blue);
}
.card-bottom {
    margin-top: -60px;
}
.line {
    position: relative;
}
.line::before {
    content: '';
    display: block;
    position: absolute;
    top: -120px;
    left: 208px;
    height: 85px;
    width: 7px;
    background-color: var(--cyan);
    z-index: -9999;
}
.boost {
    margin-top: 4em;
    background-image: url(images/bg-boost-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark-violet);
    color: white;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boost__title {
    font-size: 2rem;
}
.boost__btn {
    padding: 20px 60px;
    border-radius: 140px;
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}
.boost__btn,
.copy-btn,
.input-submit,
.intro__btn {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}
.boost__btn:hover,
.boost__btn:focus,
.copy-btn:hover,
.copy-btn:focus,
.input-submit:hover,
.input-submit:focus,
.intro__btn:hover,
.intor__btn:focus {
  opacity: .8;
}
.footer {
    background-color: var(--very-dark-violet);
    margin-top: -22px;
    padding: 2em 0;
}
.footer__header {
    font-size: 2.4rem;
    color: white;
}
.footer__title {
    font-size: 1.1rem;
    color: white;
}
.footer__list {
    margin-top: 0.85em;
    opacity: .5;
    cursor: pointer;
    transition: all ease-in-out 250ms;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__icon {
    margin-left: 1em;
}
.col-5 {
    margin-top: 2.6em;
}
.footer__list:hover,
 .footer__list:focus {
     color: var(--cyan);
     opacity: 1;
     transform: scaleX(1.2);
 }
 .fa {
    transition: all ease-in-out 250ms;
 }
 .fa:hover,
 .fa:focus {
    color: var(--cyan);
    
   
 }

/* Screen @ 800px */
@media (min-width: 800px) {
    .border-bottom {
        visibility: hidden;
    }
.container {
    max-width: 1200px;
    margin: 0 auto;
}
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: initial;
    }
    .nav {
        visibility: visible;
        position: initial;
      
        flex-direction: row;
        margin-right: auto;
        width: 100%;
    }
    .intro {
        flex-direction: row;
        align-items: center;
        text-align: left;
        padding-left: 5.8em;
        margin-top: 3em;
    }
   .intro__right {
       transform: translateX(80px);
   }
   
   
    .nav__item {
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    .nav__list {
        padding-top: 0;
        padding-left: 2em;
    }
    .nav__right {
        display: flex;
        align-items: initial;
        justify-content: initial;
        flex-direction: row;
        margin-bottom: 0;
      margin-right: auto;
    }
    .dropdown {
        background-color: initial;
        margin-top: 0;
        border-radius: initial;
        height: 0;
    } 
    .hide-big-screen {
        display: none;
    }
    a {
        color: black;
    }
    .nav__btn {
        color: black;
        width: max-content;
        padding: 11px 32px;
    }
    .cyan-fill {
        color: white;
    }
    .form {
        background-image: url(images/bg-shorten-desktop.svg);
        flex-direction: row;
        align-items: center;
        padding: 0 2em;
        margin-top: 8em;
    }
    .input-submit {
        margin-top: initial;
        width: 30%;
        margin-left: 2em;
    }
    .short-url-container {
       padding: 0 2em;
       margin-top: 2em;
    }
   
    .short-url-result {
        display: flex;
        justify-content: space-between;
      
    }
  
    .right-url {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 40%;
    }
    .short-url {
        padding-right: 30px;
       
    }
    .short-url-line {
        display: none;
    }
    .statistics {
        margin-top: 8em;
        position: relative;
    }
    .statistics__container-card {
       display: flex;
       justify-content: space-between;
       gap: 40px;
      
    }
   .line::before {
       display: none;
   }
   .horizontal-line {
    position: absolute;
    width: 920px;
    height: 4px;
    top: 400px;
    left: 7em;
    background-color: var(--cyan);
    z-index: -9999;
   }
   
   .card {
       height: min-content;
   }
   .circle {
       left: -100px;
   }
   .step-one {
       margin-top: 10em;
   }
   .step-two {
    margin-top: 14em;
}
 .boost {
     background-image: url(images/bg-boost-desktop.svg);
     background-repeat: no-repeat;
     margin-top: 8em;
 } 
 .footer {
     display: flex;
     justify-content: space-between;
     text-align: left;
     padding-top: 6em;
 }
 .col-1 {
     align-self: flex-start;
     margin-top: -40px;
 }
 .col-5 {
     margin-top: 13px;
 }
 .padding {
     padding-left: 8em;
     padding-right: 8em;
 }
 .sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
    }
}

